<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ProviderStorage"
      value="DefaultEndpointsProtocol=https;AccountName=automationprodprovider;AccountKey=IMm3ZK2rOasHyAXikBgt2ymcvml1cjenEm/OAIHwBiXUDU351AhMZTiEkFfh4G7jT2QQcVxN8My4s2uu+NZzpg=="
      xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
  </system.web>
</configuration>